:root{
    --first-color: #b4ddf3;
    --second-color: #0e4b59;
    --third-color: #b53f5a;
}

body{
   margin: 0;
   background-color: var(--first-color);
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar{
    position: fixed;
    bottom: 20%;
    width: fit-content;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-item{
    background-color: var(--third-color);
    width: 70%;
    height: 20%;
    margin-top: 5%;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.side-item:hover{
    background-color: #0b8fd6;
}

.task-item{
cursor: pointer;
}

.task-item:hover{
    background-color: #0b8fd6;
    text-align: center;
    width: 25%;
}
.centerside{
    width: 60%;
    height: 80%;
    border: 2px double white;
    border-radius: 10px;
    overflow-y: auto;
}

.conversation{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.msg{
    background-color: var(--second-color);
    color: white;
    text-align: center;
    font-size: larger;
    width: 200px;
    height: fit;
    border: 1px solid white;
    border-radius: 5px;
}

.sent-msg{
    align-self: flex-end;
}

.taskbar{
    background-color: var(--third-color);
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 10%;
    right: 25%;
    height: 5%;
    width: 50%;
    border-radius: 10px;
}



