<div class="group">
  <div class="form__group">
    <input class="form__field" type="text" />
    <label class="form__label" for="">Username</label>
  </div>
  <div class="form__group">
    <input type="password" class="form__field" type="text" />
    <label class="form__label" for="">Password</label>
  </div>

  <button
    style="
      background-color: #25497e;
      color: white;
      width: 30%;
      height: 10%;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      font-size: large;
    "
    onclick="login()"
  >
    Login
  </button>
</div>
