<div class="group">
  <div class="form__group">
    <input id="username-text-field" class="form__field" type="text" />
    <label class="form__label" for="">Username</label>
  </div>
  <div class="form__group">
    <input
      id="password-text-field"
      type="password"
      class="form__field"
      type="text"
    />
    <label class="form__label" for="">Password</label>
  </div>

  <button id="auth-btn" class="auth-btn" onclick="loginOrSignup()">
    Login
  </button>

  <button id="login-or-signup" class="auth-btn" onclick="gotoLoginOrToSignup()">
    Create an account
  </button>
</div>
