<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="/eel.js"></script>
    <script src="../utils/storage.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="ICT"><a href="/">back to the</a></div>
    <div>
      <canvas id="myChart"></canvas>
    </div>
  </body>
  <script src="../third_parts/chart.js"></script>

  <script>
    //Auto setting value in local storage
    (async () => {
      let storage = new InStore();
      let total_qty = await eel.get_tamka_qty()();
      let easy_qty = await eel.get_from_tamka("easy", true, false)();
      let medium_qty = await eel.get_from_tamka("medium", true, false)();
      let hard_qty = await eel.get_from_tamka("hard", true, false)();
      storage.set("quantities", { easy_qty, total_qty, medium_qty, hard_qty });
    })();
  </script>

  <script>
    let storage = new InStore();
    const ctx = document.getElementById("myChart");
    let { easy_qty, total_qty, medium_qty, hard_qty } =
      storage.get("quantities");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["easy", "medium", "hard"],
        datasets: [
          {
            label: "Pronounciation Statistics",
            data: [
              easy_qty / total_qty,
              medium_qty / total_qty,
              hard_qty / total_qty,
            ],
            backgroundColor: [
              "rgba(75, 192, 192, 0.2)",
              "rgba(255, 159, 64, 0.2)",
              "rgb(255, 99, 132, 0.2)",
            ],
            borderColor: [
              "rgb(75, 192, 192)",
              "rgb(255, 159, 64)",
              "rgb(255, 99, 132)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
        elements: {
          line: {
            borderWidth: 3,
          },
        },
      },
    });
  </script>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    canvas {
      width: 800px !important;
      height: 400px !important;
    }
  </style>
</html>
