<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="/eel.js"></script>
    <script src="../utils/storage.js"></script>
    <title>Document</title>

  </head>
  <body>
    <a onclick="goto('../index.html')">&#x2190;</a>
    <div class="container_canvas">
      <canvas id="myChart"></canvas>
    </div>
  </body>
  <script src="../third_parts/chart.js"></script>

  <script>
    //Auto setting value in local storage
    function goto(url) {
      window.location.href = url;
    }
    setTimeout(async () => {
      let storage = new InStore();
      let total_qty = await eel.get_tamka_qty()();
      let easy_qty = await eel.get_from_tamka("easy", true, false)();
      let medium_qty = await eel.get_from_tamka("medium", true, false)();
      let hard_qty = await eel.get_from_tamka("hard", true, false)();
      storage.set("quantities", { easy_qty, total_qty, medium_qty, hard_qty });
    }, 1000)

    //setTimeout(async () => await setValues, 500)
  </script>

  <script src="./utils/makeChart.js"></script>
  <style>
    .container_canvas {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    canvas {
      width: 800px !important;
      height: 400px !important;
    }

    a {
      text-decoration: none;
      font-size: 65px;
      cursor: pointer;
    }
  </style>
</html>
